<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Informacion usuario</h2>
<form>
    <label>
        dni
        <input type="text" th:value="${deportista.dni}" readonly>
    </label>
    <br>
    <label>
        Nombre Usuario
        <input type="text" th:value="${deportista.nombre}" readonly>
    </label>
    <br>
    <label>
        Apellidos
        <input type="text" th:value="${deportista.apellidos}" readonly>
    </label>
    <br>
    <label>
        Fecha de nacimiento
        <input type="date" th:value="${deportista.fechaNacimiento}" readonly>
    </label>
    <br>
</form>
<h2>Inscripciones</h2>
<table>
    <tr>
        <th>cod</th>
        <th>Nombre actividad</th>
    </tr>
    <tr th:each="item: ${deportista.inscripciones}">
        <td th:text="${item.actividad.cod}"></td>
        <td th:text="${item.actividad.nombre}"></td>
    </tr>
</table>
</body>
</html>