<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Inscripcion Usuario - Actividades</h2>
<form action="/inscripcion-add" method="post">
    <label>Seleccionar deportista
        <select name="deportista_dni" required>
            <option th:each="item: ${deportistas}" th:value="${item.dni}" th:text="${item.nombre}"></option>
        </select>
    </label>
    <br>
    <label> Seleccionar actividad
        <select name="actividad_cod" required>
            <option th:each="item: ${actividades}" th:value="${item.cod}" th:text="${item.nombre}"></option>
        </select>
    </label>
    <br>
    <label>Seleccionar dia y hora
        <input type="date" name="dia" required>
        <select name="hora" required>
            <option>08:00</option>
            <option>12:00</option>
            <option>16:00</option>
            <option>18:00</option>
        </select>
    </label>
    <br>
    <input type="submit" value="Inscribir">
</form>
</body>
</html>